*{
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-image: linear-gradient(90deg, gray, lightgray);
    margin-bottom: 20px;
}

header>h1{
    padding: 15px;
}

menu{
    text-align: left;
    padding: 10px;
    background-color: rgb(75, 70, 70);
}

menu>ul>li{
    color: white;
    padding: 10px;
    background-color: rgb(56, 54, 54);
    display: inline-block;
    padding-left: 10px;
    text-decoration: underline;
}

article{
    margin-top: 10px;
    border: 1px solid black;
    display: block;
    width: 600px;
    margin: auto;
}

h2{
    font-weight: bolder;
}

p{
    text-indent: 15px;
    margin: 20px;
    text-align: justify;
}