table{
    width: 500px;
    padding: 10px;
    text-align: center;
    border-collapse: collapse;
}

tr, th, td{
    border: 1px solid black;
}

thead{
    background-color: gray;
    color: white;
}
col.destaque{
    background-color: blueviolet;
}

tbody>tr>th.media{
    background-color: gray;
    text-align: left;
    padding-left: 5px;
    color: white;
}

tbody>tr>th{
    font-size: 16px;
    text-transform: uppercase;
}