*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-color: #233eff;
    background-size: contain;
    background-position:bottom center;
}

h1{
    background-color: aliceblue;
    text-align: center;
    border: 5px solid blue;
    padding: 20px;
}