*{
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

html{
    height: 100vh;
}

body{
    background-image: url(../imagens/back-phone.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

main{
    display: block;
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    width: 40vw;
    background-color: rgba(255, 255, 255, 0.63);
    border-radius: 10px;
}

h1{
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.418);
}

img{
    display: block;
    margin: auto;
}

#tv {display: none; }
#pc {display: none; }
#print {display: none; }
#tablet {display: none; }
#phone {display: block; }