*{
    margin: 0px;
    padding: 0px;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url(imagens/fundo-madeira.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: black;
}

main{
    height: 100vh;
    position: relative;
}

section#mobile{
    background-image: url(imagens/frame-iphone.png);
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100%;
    height: 635px;
    max-width: 100vw;
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

iframe#mobile_screen{
    position: relative;
    top: 13%;
    left: 8%;
    min-width: 269px;
    width: 270px;
    min-height: 476px;
    height: 476px;
}

section#social_Network > a >img{
    margin: 10px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.502);
    box-sizing: border-box;
}

section#social_Network > a >img:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 0.3s;
}

section#social_Network {
    text-align: right;
}