*{
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    height: 100vh;
}

body{
    height: 100vh;
    background-image: linear-gradient(90deg, gray, lightgray);
}

header{
    background-color: rgba(211, 211, 211, 0.575);
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
}

i#burguer{
    padding: 10px;
    display: block;
    text-align: center;
    cursor: pointer;
    background-color: rgb(49, 49, 49);
    color: white;
}

i#burguer:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
}

header>h1{
    padding-bottom: 10px;
    text-align: center;
}

header>Menu{
    border-bottom: 2px solid rgb(150, 148, 148);
    display: none;
    text-align: center;
}

header>Menu>ul{
    background-color: rgb(95, 95, 95);
}

header>Menu>ul>li>a{
    display: block;
    border-top: 2px solid rgb(150, 148, 148);
    padding: 10px;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}

header>Menu>ul>li>a:hover{
    text-shadow: none;
    color: black;
    background-color: lightgray;
    transition: 0.5s;
}

main{
    width: 90vw;
    margin: auto;
}

article{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.637);
}

article>h1{
    text-align: center;
    padding-bottom: 10px;
}

article>p{
    padding: 10px;
    text-align: justify;
    text-indent: 15px;
}

footer{
    height: 6vh;
    display: flexbox;
    background-color: rgb(95, 93, 93);
    text-align: center;
}

footer>p{
    text-align: center;
    color: white;
    text-shadow: 1px rgba(0, 0, 0, 0.452);
    padding: 8px;
}