*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(90deg, gray, lightgray);
}

header{
    background-color: rgba(211, 211, 211, 0.575);
    padding: 10px;
}

header>h1{
    text-align: center;
}

header>nav>ul>li>a{
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}

article{
    background-color: white;
    margin: 20px;
}