:root{
    --cor0: #ECECED;
    --cor1: #CAC5C9;
    --cor2: #5D5C58;
    --cor3: #A5B3BF;
    --cor4: #C4C9CF;

    --font-padrao: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-destaque: rue;
}

*{
    margin: 0;
    padding: 0;
}

header{
    min-height: 80px;
}

header > h1{
    text-align: center;
    font-size: 3em;
    margin-top: 15px;
    margin-bottom: 15px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.308);
}

nav > a{
    padding: 5px 50px 5px 50px;
    font-size: 1.2em;
    font-family: rue;
    color: var(--cor0);
    text-decoration: none;
    transition: 0.5s;
}

nav > a:hover{
    color: black;
    border-radius: 5px;
    background-color: var(--cor4);
    text-decoration: underline;
}

nav{
    background-color: var(--cor2);
    text-align: center;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.315);
    padding: 10px;
}

body{
    font-family:var(--font-padrao) ;
    background-image: linear-gradient(90deg, #ECECED,#CAC5C9);
}

p{
    margin: 15px 0;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.5em;
    font-size: 1em;
}

.important{
    padding-top: 0px;
}

main{
    padding: 20px;
    background-color: white;
    margin: auto;
    min-width: 260px;
    max-width: 800px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.288);
    margin-bottom: 30px;
    border-radius: 0 0 10px 10px;
}

article{
    text-align: center;
    background-color: white;
}
article > img{
    width: 100%;
    display: block;
}

.livros{
    background-color: var(--cor0);
    margin: 20px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}
.livros > p{
    padding: 10px;
    margin: 0px;
}
.livros > h1{
    padding: 10px 0 0 0;
    margin: 0px;
}

.livros p > a{
    padding: 4px;
    font-size: 1em;
    font-family: rue;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.livros p > a:hover{
    font-size: 1em;
    font-family: rue;
    color: var(--cor2);
    text-decoration: underline;
}

.link{
    text-align: center;
    display: block;
    font-size: 1.2em;
    font-family: rue;
    color: black;
    text-decoration: none;
    transition: .5s;
}

.link:hover{
    font-size: 1.2em;
    font-family: rue;
    color: var(--cor2);
    text-decoration: underline;
}

.novo{
    background-color: var(--cor3);
    margin: 20px;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}

.novo > h1{
    padding: 10px 0 0 0;
    margin: 0px;
    text-align: center;
}
.novo > p{
    padding: 10px;
    margin: 0px;
}
.declarar{
    background-color: var(--cor0);
    margin: 20px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.308);
}
#fundo{
    background-image: url(../imagens/snow.jpg);
    background-repeat: no-repeat;
    background-position: top center ;
    background-size: 100vw;
    height: 60vw;
}

#fundo > p{
    margin: 0px;
}

footer{
    container-type: inline-size;
    background-color: var(--cor2);
    margin: 0px;
}

footer > p{
    text-align: center;
    color: var(--cor0);
}

h1{
    font-family: var(--font-destaque);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.301);
}

picture > img{
    border-radius: 10px;
}
div.video{
    background-color: var(--cor2);
    margin: 0px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 59%;
}

div.video > video {
    position: absolute;
    top: 4%;
    left: 5%;
    width: 90%;
    height: 90%;
}

video > poster {
    max-width: fit-content;
}